@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat+Alternates&family=Montserrat:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
 */
 
 